.category-content{
	width: auto;
	margin-top: 12%;
	color: black;
}
a {
	list-style-type: none;
	text-decoration: none;
	color: black;
}
.review-description {
	width: auto;
	margin-top: 12%;
	color: black;
	text-align: center;
}
.table-data {
	text-align: left;
}
.review-text {
	margin-left: 30%;
}
.about-us {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	margin-top: 12%;
	text-align: center;
}
.about-text {
	padding: 5%;
	text-align: center;
	/*margin: 5%;*/
	padding: 15%;
	font-size: 2rem;
}
.about-text a {
	color: #019031;
}
.about-image {
	margin: 5%;
	padding: 2%;
	width: 500px;
	height: 500px;
}
.contact-us {
	margin-top: 12%;
	/*margin-left: 30%;*/
	text-align: center;
	margin-bottom: 15%;	
}
textarea{
	width: 20%;
}
.category-heading {
	z-index: -1;
}
.select-option {
	z-index: -1;
}